<% content_for :main do %>

<div class="jumbotron" style="text-align: center;">
  <h1>Yoga NOW Boulder</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div id="listing" class="well">
      <h3 class="text-center">Classes Happening NOW</h3>
      <div class="row buttons-holder">
        <div class="btn-group table-button">
          <button data-toggle="dropdown" class="btn btn-primary btn-block dropdown-toggle">Number of Classes Displayed <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" onclick="window.location.href='?num_classes=1';">1</a></li>
            <li><a href="#" onclick="window.location.href='?num_classes=2';">2</a></li>
            <li><a href="#" onclick="window.location.href='?num_classes=3';">3</a></li>
            <li><a href="#" onclick="window.location.href='?num_classes=4';">4</a></li>
            <li><a href="#" onclick="window.location.href='?num_classes=-1';">Rest of Day</a></li>
          </ul>
        </div>

        <div class="btn-group table-button">
          <button data-toggle="dropdown" class="btn btn-primary btn-block dropdown-toggle">Starting Time <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" onclick="window.location.href='?start_time=-1';">NOW!</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=6';">6:00 am</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=7';">7:00 am</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=8';">8:00 am </a></li>
            <li><a href="#" onclick="window.location.href='?start_time=9';">9:00 am</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=10';">10:00 am</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=11';">11:00 am</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=12';">12:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=13';">1:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=14';">2:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=15';">3:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=16';">4:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=17';">5:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=18';">6:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=19';">7:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=20';">8:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=21';">9:00 pm</a></li>
            <li><a href="#" onclick="window.location.href='?start_time=22';">10:00 pm</a></li>
          </ul>
        </div>
      </div>


      <div id="loading" style="text-align: center">
        <%= image_tag 'ajax-loader.gif', id: 'spinner', alt: 'Loading schedule, please wait...' %>
      </div>
      <div class="table-holder">
        <table id="class_table" class="table table-striped">
          <caption class="info">Displaying <%= @num_classes %> from each studio, starting <%= @start_time %></caption>
          <tbody></tbody>
        </table>
      </div>
      <script type="text/javascript">
        $.each(gon.studios, function(i, studio) {
          api_call(studio, gon.num_classes, gon.start_time);
        });
      </script>
    </div>
  </div>
  <div class="col-md-4">
    <h3>About</h3>
    <p class="lead">Yoga NOW Boulder aims to display all the yoga classes
       happening in Boulder within the next few hours. This spares
       one the trouble of having to search through many studio sites
       just to find an interesting class. As of now, only a few studios
       are supported, but there are plans to support more and more as time goes on.</p>

    <%= image_tag 'divider.png', width: '100%' %>
    <blockquote>
      <br>
      <p><%= @quote.devanagari %><br><br>
         <%= @quote.transliteration %><br><br>
         <%= @quote.english %><br><br>

      </p>
      <small class="pull-right"><a target="_blank" href="<%= @quote.link %>">Yoga Sutras <%= @quote.verse %></a></small>
    </blockquote>
  </div>
</div>

<% end %>
